pipeline/Package.json
{
	"name": "Package",
	"properties": {
		"activities": [
			{
				"name": "Sql post traitement",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Package par mode chargement",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SqlPostTraitement",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"SqlPostTraitement": {
							"value": "@pipeline().parameters.SqlPostTraitement",
							"type": "Expression"
						},
						"IdSuiviPackage": {
							"value": "@variables('IdSuiviPackage')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Package par mode chargement",
				"type": "Switch",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@pipeline().parameters.CodeModeChargement",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "CSV",
							"activities": [
								{
									"name": "PackageCsv",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PackageCsv",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"NomTableAlim": {
												"value": "@pipeline().parameters.Destination",
												"type": "Expression"
											},
											"NomFichierAlim": {
												"value": "@pipeline().parameters.Source",
												"type": "Expression"
											},
											"IdPackage": {
												"value": "@pipeline().parameters.IdPackage",
												"type": "Expression"
											},
											"IdFlux": {
												"value": "@pipeline().parameters.IdFlux",
												"type": "Expression"
											},
											"MappingsCsvStg": {
												"value": "@pipeline().parameters.MappingsCsvStg",
												"type": "Expression"
											},
											"EncodageFichierAlim": {
												"value": "@pipeline().parameters.EncodageFichierAlim",
												"type": "Expression"
											},
											"SqlPostTraitement": {
												"value": "@pipeline().parameters.SqlPostTraitement",
												"type": "Expression"
											},
											"IdSuiviFlux": {
												"value": "@pipeline().parameters.IdSuiviFlux",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "Full",
							"activities": [
								{
									"name": "PackageDataFlow",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PackageDataFlow",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"IdPackage": {
												"value": "@pipeline().parameters.IdPackage",
												"type": "Expression"
											},
											"IdFlux": {
												"value": "@pipeline().parameters.IdFlux",
												"type": "Expression"
											},
											"IdSuiviFlux": {
												"value": "@pipeline().parameters.IdSuiviFlux",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Source": {
				"type": "string"
			},
			"Destination": {
				"type": "string"
			},
			"IdPackage": {
				"type": "int"
			},
			"IdFlux": {
				"type": "int"
			},
			"MappingsCsvStg": {
				"type": "string"
			},
			"IdSuiviFlux": {
				"type": "int"
			},
			"EncodageFichierAlim": {
				"type": "string"
			},
			"SqlPostTraitement": {
				"type": "string"
			},
			"CodeModeChargement": {
				"type": "string"
			}
		},
		"variables": {
			"IdSuiviPackage": {
				"type": "String"
			},
			"NomFichierDestination": {
				"type": "String"
			},
			"Information": {
				"type": "String"
			},
			"NbrLignesInserees": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-08-10T16:56:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}